<header id="about-back">
  <div class="container">
    <div class="jumbotron">
      <h1>Ph.D Awarded</h1>
    </div>
  </div>
</header>
<section>
  <article id="research" class="container">
    <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <tr>
        <th>S. No</th>
        <th>Faculty Name</th>
        <th>Supervisor Name</th>
        <th>University Name</th>
        <th>Awarded Year</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>B. PARVATHA VARTHINI</td>
        <td></td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2008</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>A. CHANDRA SEKAR</td>
        <td>Dr.V.VASUDEVAN</td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2010</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>G. MARIAKALAVATHY</td>
        <td>Dr. P. SEETHALAKSHMI </td>
        <td>SATHYABAMA UNIVERSITY</td>
        <td>2011</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>G. MURUGESAN</td>
        <td>Dr C CHELLAPPAN </td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2013</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>D. ROSY SALOMI VICTORIA</td>
        <td>Dr. S. SENTHILKUMAR</td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2015</td>

      </tr>
      <tr>
        <td>6.</td>
        <td>R. PUGALENTHI</td>
        <td>Dr. T V GOPAL</td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2015</td>

      </tr>
      <tr>
        <td>7.</td>
        <td>M. P .RAJAKUMAR</td>
        <td>Dr. V. SHANTHI</td>
        <td>SATHYABAMA UNIVERSITY</td>
        <td>2016</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>B. DIWAN</td>
        <td>Dr. M. R. SUMALATHA</td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2016</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>JESLINE</td>
        <td>Dr. K. L. SHUNMUGANATHAN</td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2016</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>V. ANJANA DEVI</td>
        <td>Dr. R. S. BHUVANESWARAN</td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2016</td>
      </tr>

      <tr>
        <td>11.</td>
        <td>F. SANGEETHA FRANCELIN VINNARASI</td>
        <td>Dr. A. CHANDRASEKAR</td>
        <td>MANONMANIAM SUNDARANAR UNIVERSITY</td>
        <td>2017</td>
      </tr>
      <tr>
        <td>12.</td>
        <td>S. JOTHI</td>
        <td>Dr.M.CHANDRAESKARAN</td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2017</td>
      </tr>
      <tr>
        <td>13.</td>
        <td>A. SHERYL OLIVER</td>
        <td>Dr. N. MAHESWARI</td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2017</td>
      </tr>
      <tr>
        <td>14.</td>
        <td>M. ANURADHA</td>
        <td>Dr. G. S. ANANDHA MALA</td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2017</td>
      </tr>
      <tr>
        <td>15.</td>
        <td>J. JEAN JUSTUS</td>
        <td>Dr. A. CHANDRA SEKAR</td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2017</td>
      </tr>
      <tr>
        <td>16.</td>
        <td>R. HEMALATHA</td>
        <td>Dr. R. S. BHUVANESWARAN</td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2017</td>
      </tr>
      <tr>
        <td>17.</td>
        <td>J. RAMYA</td>
        <td>Dr. B. PARVATHAVARTHINI</td>
        <td>JAWAHARLAL NEHRU TECHNOLOGICAL UNIVERSITY</td>
        <td>2017</td>
      </tr>
      <tr>
        <td>18.</td>
        <td>K .PARKAVI</td>
        <td>Dr. P. VIVEKANANDAN</td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2017</td>
      </tr>
      <tr>
        <td>19.</td>
        <td>N. Angel</td>
        <td>Dr. A. CHANDRASEKAR</td>
        <td>MANONMANIAM SUNDARANAR UNIVERSITY</td>
        <td>2018</td>
      </tr>
      <tr>
        <td>20.</td>
        <td>D. MANOHARI</td>
        <td>Dr. G. S. ANANDHA MALA</td>
        <td>ANNA UNIVERSITY,CHENNAI</td>
        <td>2019</td>
      </tr>
    </table>
  </div>
  </article>
</section>
