
          <header id="contact-back">
            <div class="container">
            <div class="jumbotron">
            <h1>Contact Us</h1>
            </div>
          </div>
        </header>
        <section>
          <article class="container" id="contact">
            <div class="row text-center">
              <div class="col-md-4 ">
                  <h1 class="margin-bottom-60">Contact Info</h1>
                  <div class="row  margin-bottom-30">
                    <div class="col-md-1">
                      <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <h4><b>Address</b></h4>
                        <h5 class="text-muted">OMR, Semmencherry, Chennai - 600 119</h5>
                    </div>
                  </div>
                  <div class="row  margin-bottom-30">
                    <div class="col-md-1">
                      <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <h4><b>Phone</b></h4>
                        <h5 class="text-muted">+91-44-24500792</h5>
                    </div>
                  </div>
                  <div class="row  margin-bottom-30">
                    <div class="col-md-1">
                      <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <h4><b>Email</b></h4>
                        <h5 class="text-muted">hodcsestaffaffairs@stjosephs.ac.in</h5>
                    </div>
                  </div>
                  <div class="row  margin-bottom-30">
                    <div class="col-md-1">
                      <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <h4><b>Working Hours</b></h4>
                        <h5 class="text-muted">Monday – Saturday <br>8:00 AM – 3:00 PM</h5>
                    </div>
                  </div>
              </div>
              <div class="col-md-7 col-md-offset-1">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                <agm-marker [latitude]="lat" [longitude]="lng" [title]="title">
                <agm-info-window [disableAutoPan]="true">
                     <h5 class="text-center"><b>St. Joseph's College of Engineering</b></h5>
                     <p class="text-center">Old Mamallapuram Road, Semmencherry, Kamaraj Nagar,<br> Semmancheri, Chennai, Tamil Nadu 600119</p>
                  </agm-info-window>
                </agm-marker>
                </agm-map>
              </div>

</div>

</article>
</section>
