
a.navbar-brand
{
  font-size: 20px;
  color: rgba(0,0,0,0.8);
  font-family: 'Righteous',cursive;
}
.jumbotron
{
  background: rgba(0, 0, 0, 0);
  font-family: 'Righteous',sans-serif;
  color: #fff;
  text-shadow: 2px 2px #000;
  padding-top: 200px;
}
agm-map {
  height: 450px;
}
#contact{
  padding-top:  80px;
  padding-bottom:   100px;
  font-family: 'Raleway',sans-serif;
}
#contact-back
{
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
url('../../assets/background.jpg');
  background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
url('../../assets/background.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
url('../../assets/background.jpg');
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.margin-bottom-30
{
  margin-bottom: 30px;
}
.margin-bottom-60
{
  margin-bottom: 60px;
}
.margin-top-60
{
  margin-top: 40px;
}
li#contact-us>a
{
  color: orange !important;
}
.form-style
{
    margin-bottom: 20px;
    border: 2px solid #e1e1e1;
    height: 50px;

}
.form-style:focus
{
  border: 2px solid rgba(102,175,233,1);
}
@media only screen and (max-width:768px)
{
  .navbar-brand{
    margin-top: -10px;
  }
}
