
#about-back
{
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
url('../../assets/background.jpg');
  background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
url('../../assets/background.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
url('../../assets/background.jpg');
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron
{
  background: rgba(0, 0, 0, 0);
  font-family: 'Righteous',sans-serif;
  color: #fff;
  text-shadow: 2px 2px #000;
  padding-top: 200px;
}
#firstAbout h4{
  line-height: 1.5;
}
#firstAbout
{
  font-family: 'Roboto',sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}
#firstAbout ul>li{
  font-size: 18px;
  margin-bottom: 20px;
}
.margsBottom
{
  margin-bottom: 50px;
}
.fix
{
  margin: 0 auto;
  width: 230px;
}
.margs-100
{
  margin-top: 100px;
}
.margs-20
{
  margin-top:50px;
}
li#about-us>a
{
  color: orange !important;
}
@media only screen and (max-width:768px)
{
  .navbar-brand{
    margin-top: -10px;
  }
}
