<header id="about-back">
  <div class="container">
    <div class="jumbotron">
      <h1>About Us</h1>
    </div>
  </div>
</header>
<section>
  <article id="firstAbout" class="container">
    <ul>
      <li>Established in the year 1995.</li>
      <li>Offers UG and PG course in Computer Science and Engineering.</li>
      <li>Start with the initial intake of 60 and increased with 120 and 180 from the year 2000 and 2013 respectively for the UG course.</li>
      <li> 45 Nos. of well qualified dedicated faculties among that 19 of them holding doctoral degree from various reputed Universities.</li>
      <li> Recognized as Research Centre by Anna University, Chennai.</li>
      <li>Well-equipped spacious laboratories with high end computing systems suitable for Research and Development activities.</li>
      <li>Our students won prize in the “Smart India Hackathon-2017”, organized by Govt. of India and which is sanctioned as a project with financial assistance by AICTE.</li>
      <li>Applied few patents by the faculty members of our department.</li>
      <li>Every year a large number of students win accolades at the National and International level awards for their projects, cultural and sports achievements besides securing many University Ranks.
      </li>
      <li> Many of our students got placements in top notch organizations besides securing admissions in world class Universities in India and abroad. </li>
    </ul>
  </article>
</section>
