<header id="student-committee">
  <div class="container">
    <div class="jumbotron">
      <h1>COMMITTEE FOR STUDENTS WELFARE</h1>
    </div>
  </div>
</header>
<section>
  <article id="students-committee" class="container">
    <br/>
    <br/>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tbody>
              <tr class="row">
                <td class="column0 style3 s">S. No</td>
                <td class="column1 style3 s">Category</td>
                <td class="column2 style3 s">Name of the Staff Members</td>
              </tr>
              <tr class="row">
                  <td class="column0 style3 s">1</td>
                  <td class="column1 style3 s">Placement Coordinators</td>
                  <td class="column2 style3 s">	
                      Mr.P.Varun
                      <br/><br>
                      Dr.R.Hemalatha
                      <br/><br>
                      Mr.P.Naveen
                      <br><br>
                      Ms.M.Shalini
                      <br><br>
                      Mr.R.Ranjith
                      <br><br>
                      Mr.S.Vinu</td>
                </tr>
                <tr class="row">
                    <td class="column0 style3 s">2</td>
                    <td class="column1 style3 s">Higher Studies Coordinators</td>
                    <td class="column2 style3 s">	
                        Dr.D.RosySalomi Victoria
                        <br/><br>
                        Ms.G.Saranya
                        </td>
                  </tr>
                  <tr class="row">
                      <td class="column0 style3 s">3</td>
                      <td class="column1 style3 s">Defence Coordinators</td>
                      <td class="column2 style3 s">	
                          Ms.K.Sudha
                          <br/><br>
                          Dr.N.Angel
                         </td>
                    </tr>
                    <tr class="row">
                        <td class="column0 style3 s">4</td>
                        <td class="column1 style3 s">Civil Services Coordinators</td>
                        <td class="column2 style3 s">	
                            Ms.P.N.Jeipratha
                            <br/><br>
                            Ms.A.AjoeSweetlineJeena
                           </td>
                      </tr>
                      <tr class="row">
                          <td class="column0 style3 s">5</td>
                          <td class="column1 style3 s">Department Symposium Coordinators</td>
                          <td class="column2 style3 s">	
                              Mr R Ranjith
                              <br/><br>
                              Mr P Naveen
                             </td>
                        </tr>
                        <tr class="row">
                            <td class="column0 style3 s">6</td>
                            <td class="column1 style3 s">Alumni Coordinators</td>
                            <td class="column2 style3 s">	
                                Dr.F.SangeethaFrancelinVinnarasi
                                <br/><br>
                                Dr Jesline
                               </td>
                          </tr>
                          <tr class="row">
                              <td class="column0 style3 s">7</td>
                              <td class="column1 style3 s">Entrepreneur Development Cell Coordinators</td>
                              <td class="column2 style3 s">	
                                  Mr.K.Balaji
                                  <br/><br>
                                  Mr.N.Manikandan
                                 </td>
                            </tr>
                            <tr class="row">
                                <td class="column0 style3 s">8</td>
                                <td class="column1 style3 s">ICTACT Coordinators</td>
                                <td class="column2 style3 s">	
                                    Dr.S.Jothi
                                    <br/><br>
                                    Dr.M.Anuradha
                                    <br/><br>
                                    Ms.Jenif D Souza WS
                                   </td>
                              </tr>
                              <tr class="row">
                                  <td class="column0 style3 s">9</td>
                                  <td class="column1 style3 s">R & D Coordinators</td>
                                  <td class="column2 style3 s">	
                                      Dr.G. Murugesan
                                      <br/><br>
                                      Mr.A.PrabhuChakkaravarthy
                                      <br/><br>
                                      Dr.J.Ramya
                                     </td>
                                </tr>
                                <tr class="row">
                                    <td class="column0 style3 s">10</td>
                                    <td class="column1 style3 s">Industry Institute Interaction Coordinators</td>
                                    <td class="column2 style3 s">	
                                        Dr.J.T.Anita Rose
                                        <br/><br>
                                        Dr.K.Parkavi
                                        <br/><br>
                                        Ms.S.Shanthini
                                       </td>
                                  </tr>
                                  <tr class="row">
                                      <td class="column0 style3 s">11</td>
                                      <td class="column1 style3 s">NGO Coordinators</td>
                                      <td class="column2 style3 s">	
                                          Dr.J.Jean Justus
                                          <br/><br>
                                          Ms.S.Janani
                                         </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="column0 style3 s">12</td>
                                        <td class="column1 style3 s">Students Panel -Competition</td>
                                        <td class="column2 style3 s">	
                                            Dr.R.Hemalatha
                                            <br/><br>
                                            Dr.A.Sheryl Oliver
                                            <br/><br>
                                            Dr.V.Anjana Devi
                                            <br><br>
                                            Mr.K.Balaji
                                            <br><br>
                                            Mr P Naveen</td>
                                      </tr>
            </tbody>
            </table>
            </div>
    </article>
    </section>
    