<header id="about-back">
  <div class="container">
    <div class="jumbotron">
      <h1>Placements</h1>
    </div>
  </div>
</header>
<section>
  <article id="placements" class="container">
      <ul>
        <li><h2><a href="./assets/placements/10-14Placement Details 2013-2014.pdf" target="_blank">Placement Details 2010-2014</a></h2></li>
        <li><h2><a href="./assets/syllabus/11-15Placement Details 2014-2015.pdf" target="_blank">Placement Details 2011-2015</a></h2></li>
        <li><h2><a href="./assets/syllabus/12-16Placement Details 2015-2016.pdf" target="_blank">Placement Details 2012-2016</a></h2></li>
        <li><h2><a href="./assets/syllabus/13-17Placement Details 2016-2017.pdf" target="_blank">Placement Details 2013-2017</a></h2></li>
        <li><h2><a href="./assets/syllabus/14-18Placement Details 2017-2018.pdf" target="_blank">Placement Details 2014-2018</a></h2></li>
        <li><h2><a href="./assets/syllabus/15-19Placement Details 2018-2019.pdf" target="_blank">Placement Details 2015-2019</a></h2></li>
      </ul>
  </article>
</section>
