<header id="about-back">
  <div class="container">
    <div class="jumbotron">
      <h1>Research Scholars</h1>
    </div>
  </div>
</header>
<section>
  <article id="research" class="container">
    <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <tr>
        <th>S. No</th>
        <th>Supervisor Name</th>
        <th>Reference Number</th>
        <th>Research Area</th>
      </tr>
      <tr>
        <td>1.</td>
        <td><a href="./assets/research/research-0.pdf" target="_blank">Dr.B. PARVATHA VARTHINI</a></td>
        <td>1240223</td>
        <td>Computer Network</td>
      </tr>
      <tr>
        <td>2.</td>
        <td><a href="./assets/research/research-1.pdf" target="_blank">Dr.A.CHANDRA SEKAR</a></td>
        <td>2940058</td>
        <td>Network Security</td>
      </tr>
      <tr>
        <td>3.</td>
        <td><a href="./assets/research/research-2.pdf" target="_blank">Dr.G.MARIAKALAVATHY</a></td>
        <td>2340184</td>
        <td>Web Services, Service Oriented Architecture, Distributed Computing</td>

      </tr>
      <tr>
        <td>4.</td>
        <td><a href="./assets/research/research-3.pdf" target="_blank">Dr.B.DIWAN</a></td>
        <td>2940108</td>
        <td>Mobile Computing, Distributed Database</td>
      </tr>
    </table>
  </div>
  </article>
</section>
