<header id="gallery-back">
  <div class="container">
    <div class="jumbotron">
      <h1>Gallery</h1>
    </div>
  </div>
</header>
<section class="container pad-50">
  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/01.jpg" data-lightbox="image" data-title="Teacher's Day Celebration">
                  <img src="./assets/gallery/01.jpg" class="img-responsive" alt="">
                </a>
  </div>
  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/02.jpg" data-lightbox="image" data-title="Teacher's Day Celebration">
                <img src="./assets/gallery/02.jpg" class="img-responsive" alt="">
              </a>
  </div>
  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/03.jpg" data-lightbox="image" data-title="Faculty">

                <img src="./assets/gallery/03.jpg" class="img-responsive" alt="">
              </a>
  </div>
  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/04.jpg" data-lightbox="image" data-title="Teacher's Day Celebration">

                <img src="./assets/gallery/04.jpg" class="img-responsive" alt="">
              </a>
  </div>
  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/05.jpg" data-lightbox="image" data-title="IEEE Program">

                <img src="./assets/gallery/05.jpg" class="img-responsive" alt="">
              </a>
  </div>
  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/06.jpg" data-lightbox="image" data-title="IEEE Program">

                <img src="./assets/gallery/06.jpg" class="img-responsive" alt="">
              </a>
  </div>
  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/07.jpg" data-lightbox="image" data-title="Hostel Day">

                <img src="./assets/gallery/07.jpg" class="img-responsive" alt="">
              </a>
  </div>

  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/08.jpg" data-lightbox="image" data-title="Faculty Development Program">

                <img src="./assets/gallery/08.jpg" class="img-responsive" alt="">
              </a>
  </div>
  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/09.jpg" data-lightbox="image" data-title="Department Orientation Day">

                <img src="./assets/gallery/09.jpg" class="img-responsive" alt="">
              </a>
  </div>
  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/10.jpg" data-lightbox="image" data-title="Department Orientation Day">

                <img src="./assets/gallery/10.jpg" class="img-responsive" alt="">
              </a>
  </div>
  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/11.jpg" data-lightbox="image" data-title="Teacher's Day Celebration">

                <img src="./assets/gallery/11.jpg" class="img-responsive" alt="">
              </a>
  </div>
  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/12.jpg" data-lightbox="image" data-title="Symposium">

                <img src="./assets/gallery/12.jpg" class="img-responsive" alt="">
              </a>
  </div>
  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/13.jpg" data-lightbox="image" data-title="Hostel Day">

                <img src="./assets/gallery/13.jpg" class="img-responsive" alt="">
              </a>
  </div>
  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/14.jpg" data-lightbox="image" data-title="Golden Tech-Bridge Program">

                <img src="./assets/gallery/14.jpg" class="img-responsive" alt="">
              </a>
  </div>
  <div class="col-md-4 pad-5">
    <a href="./assets/gallery/15.jpg" data-lightbox="image" data-title="Computer Science Laboratory">

                <img src="./assets/gallery/15.jpg" class="img-responsive" alt="">
              </a>
  </div>
</section>
