
a.navbar-brand
{
  font-size: 20px;
  color: rgba(0,0,0,0.8);
  font-family: 'Righteous',cursive;
}
.jumbotron
{
  background: rgba(0, 0, 0, 0);
  font-family: 'Righteous',sans-serif;
  color: #fff;
  text-shadow: 2px 2px #000;
  padding-top: 200px;
}
#gallery-back
{
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
url('../../assets/background.jpg');
  background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
url('../../assets/background.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
url('../../assets/background.jpg');
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
li#gallery>a
{
  color: orange !important;
}
.pad-50{
  padding-top: 50px;
  padding-bottom: 50px;
}
.pad-5{
  padding: 5px;
}
@media only screen and (max-width:768px)
{
  .navbar-brand{
    margin-top: -10px;
  }
}
