
a.navbar-brand
{
  font-size: 20px;
  color: rgba(0,0,0,0.8);
  font-family: 'Righteous',cursive;
}
.jumbotron
{
  background: rgba(0, 0, 0, 0);
  font-family: 'Righteous',sans-serif;
  color: #fff;
  text-shadow: 2px 2px #000;
  padding-top: 200px;
}
#faculty-section, .modal
{
    font-family: 'Raleway',sans-serif;
}
#faculty-back
{
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
url('../../assets/background.jpg');
  background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
url('../../assets/background.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
url('../../assets/background.jpg');
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-center
{
  margin: 0 auto;
  width: 200px;
  height: 220px;
  object-fit: cover;
}
.center-modal-photo{
  margin: 0 auto;
}
.margin-modal-20
{
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-50
{
  margin-top: 50px;
  margin-bottom: 50px;
}
#more-details
{
  margin-top: 20px;
  padding: 10px;
  color: #fff;
  background: #43598b;
  border: #43598b;
  border-radius: 20px;
}
.modal-header
{
  background: #43598b;
  font-family: 'Righteous',sans-serif;
  color: #fff;
}
#faculty-section h4{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
li#faculty>a
{
  color: orange !important;
}
@media only screen and (max-width:768px)
{
  .navbar-brand{
    margin-top: -10px;
  }
}
