<ng-progress [showSpinner]="false" [color]="'#e76137'"></ng-progress>
<div id="target"></div>
<nav class="navbar navbar-default navbar-custom2 navbar-fixed-top hidden-xs">
  <div id="nav-header">
    <img src="./assets/logo.png" width="60px" class="img-responsive" style="display:inline">
    <img src="./../assets/25yrlogo.jpg" width="100px" height="75px" style="position:absolute;top:5px;right:30px;"/>
    <span class="hidden-xs">Department of Computer Science &amp; Engineering</span>
  </div>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li id="home" class="text-center"><a scrollTo="target" routerLink="/">HOME</a></li>
      <li class="dropdown" class="text-center">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">PROFILE
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a scrollTo="target" routerLink="/about-us">ABOUT US</a></li>
          <li><a scrollTo="target" routerLink="/vision-mission">VISION &amp; MISSION</a></li>
          <li><a scrollTo="target" routerLink="/peo-pso">PEO &amp; PSO</a></li>
          <li><a scrollTo="target" routerLink="/po">PROGRAM OUTCOME</a></li>
          <li><a scrollTo="target" routerLink="/co">COURSE OUTCOMES</a></li>

        </ul>
      </li>
      <li class="dropdown" class="text-center">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ACADEMICS
      <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a scrollTo="target" routerLink="/syllabus">SYLLABUS &amp; REGULATION</a></li>
          <!-- <li><a scrollTo="target" routerLink="/academics">LESSON &amp; LAB PLAN</a></li>
          <li><a scrollTo="target" routerLink="/academics">COURSE MATERIALS</a></li>
          <li><a scrollTo="target" routerLink="/academics">MODULE COORDINATORS</a></li> -->
        </ul>
      </li>
      <li class="dropdown" class="text-center">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">FACULTY
    <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a scrollTo="target" routerLink="/faculty">FACULTY &amp; STAFF</a></li>
          <li><a scrollTo="target" routerLink="/faculty-mentors">FACULTY MENTORS</a></li>
          <li><a scrollTo="target" routerLink="/student-committee">COMMITTEE FOR STUDENTS WELFARE</a></li>
        </ul>
      </li>
      <li class="dropdown" class="text-center">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">FACILITIES
    <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a scrollTo="target" routerLink="/laboratory">LABORATORY</a></li>
          <!-- <li><a scrollTo="target" routerLink="/laboratory">RESEARCH CELL</a></li> -->
        </ul>
      </li>
      <li class="dropdown" class="text-center">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">STUDENTS
    <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <!-- <li><a scrollTo="target" routerLink="/academics">RESEARCH</a></li> -->
          <li><a scrollTo="target" routerLink="/achievements">ACHIEVEMENTS</a></li>
          <li><a scrollTo="target" routerLink="/academic-performance">ACADEMIC PERFORMANCE</a></li>
        </ul>
      </li>
      <li id="lab" class="text-center"><a scrollTo="target" routerLink="/placements">PLACEMENTS</a></li>
      <li class="dropdown" class="text-center">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">RESEARCH
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a scrollTo="target" routerLink="/supervisors">SUPERVISORS</a></li>
          <li><a scrollTo="target" routerLink="/phd">Ph.D AWARDED</a></li>
          <li><a scrollTo="target" routerLink="/research-scholars">RESEARCH SCHOLARS</a></li>
          <li><a scrollTo="target" routerLink="/research-projects">RESEARCH PROJECTS</a></li>
          <li><a scrollTo="target" routerLink="/patents">PATENTS</a></li>
          <li><a scrollTo="target" routerLink="/publications">PUBLICATIONS</a></li>
        </ul>
      </li>
      <li class="dropdown" class="text-center">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">PROFESSIONAL ACTIVITIES
    <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a scrollTo="target" routerLink="/professional-activities">IEEE &amp; CSI</a></li>
        </ul>
      </li>
      <!--<li class="text-center"><a scrollTo="target" routerLink="/gallery">NEWS</a></li>-->
      <li id="" class="text-center"><a scrollTo="target" routerLink="/gallery">GALLERY</a></li>
      <li id="contact-us" class="text-center"><a scrollTo="target" routerLink="/contact-us">CONTACT US</a></li>

    </ul>
  </div>
</nav>

<nav class="navbar navbar-default navbar-custom2 navbar-fixed-top hidden-sm hidden-md hidden-lg hidden-xl">

  <button type="button" id="navbarToggle" class="glyph-pad navbar-toggle collapsed btn-lg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="fa fa-bars nav-icon" aria-hidden="true"></span>
  </button>
  <div class="container-fluid">
    <div class="navbar-header navbar-titles">
      <a href="/" class="navbar-brand" id="mob-head"><span><img class="logo" src="./assets/logo.png" width="50px"><span id="sup"> Department of </span> Computer Science<span id="engg"> &amp; Engineering</span></span></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="home" class="text-center"><a scrollTo="target" routerLink="/">HOME</a></li>
        <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">PROFILE
        <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a scrollTo="target" routerLink="/about-us">ABOUT US</a></li>
            <li><a scrollTo="target" routerLink="/vision-mission">VISION &amp; MISSION</a></li>
            <li><a scrollTo="target" routerLink="/peo-pso">PEO &amp; PSO</a></li>
            <li><a scrollTo="target" routerLink="/po">PROGRAM OUTCOME</a></li>
            <li><a scrollTo="target" routerLink="/gallery">GALLERY</a></li>
          </ul>
        </li>
        <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">ACADEMICS
      <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a scrollTo="target" routerLink="/syllabus">SYLLABUS &amp; REGULATION</a></li>
            <!-- <li><a scrollTo="target" routerLink="/academics">COURSE MATERIALS</a></li> -->
            <!-- <li><a scrollTo="target" routerLink="/academics">MODULE COORDINATORS</a></li> -->
            <!-- <li><a scrollTo="target" routerLink="/academics">LESSON &amp; LAB PLAN</a></li> -->
          </ul>
        </li>
        <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">FACULTY
    <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a scrollTo="target" routerLink="/faculty">FACULTY &amp; STAFF</a></li>
            <li><a scrollTo="target" routerLink="/faculty-mentors">FACULTY MENTORS</a></li>
          </ul>
        </li>
        <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">FACILITIES
    <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a scrollTo="target" routerLink="/laboratory">LABORATORY</a></li>
            <!-- <li><a scrollTo="target" routerLink="/laboratory">RESEARCH CELL</a></li> -->
          </ul>
        </li>
        <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">STUDENTS
    <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- <li><a scrollTo="target" routerLink="/academics">RESEARCH</a></li> -->
            <li><a scrollTo="target" routerLink="/achievements">ACHIEVEMENTS</a></li>
            <li><a scrollTo="target" routerLink="/academic-performance">ACADEMIC PERFORMANCE</a></li>
          </ul>
        </li>
        <li id="lab" class="text-center"><a scrollTo="target" routerLink="/placements">PLACEMENTS</a></li>
        <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">RESEARCH
        <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a scrollTo="target" routerLink="/supervisors">SUPERVISORS</a></li>
            <li><a scrollTo="target" routerLink="/phd">Ph.D AWARDED</a></li>
            <li><a scrollTo="target" routerLink="/research-scholars">RESEARCH SCHOLARS</a></li>
            <li><a scrollTo="target" routerLink="/research-projects">RESEARCH PROJECTS</a></li>
            <li><a scrollTo="target" routerLink="/patents">PATENTS</a></li>
            <li><a scrollTo="target" routerLink="/publications">PUBLICATIONS</a></li>
          </ul>
        </li>
        <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">PROFESSIONAL ACTIVITIES
    <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a scrollTo="target" routerLink="/professional-activities">IEEE &amp; CSI</a></li>
          </ul>
        </li>
        <!--<li class="text-center"><a scrollTo="target" routerLink="/gallery">NEWS</a></li>-->
        <li id="contact-us" class="text-center"><a scrollTo="target" routerLink="/contact-us">CONTACT US</a></li>

      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="./assets/logo.png" class="img-responsive" width="100px">
        <h4 class="margs3">Providing the best in computer education since 1995.</h4>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h4 class="justify">Contact Information</h4>
        <div class="row margs3">
          <div class="col-md-1 col-xs-1">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="col-md-11 col-xs-11 text-muted ">
            <p>St. Joseph's College of Engineering, OMR, Semmencherry, Chennai - 600 119.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-xs-1">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="col-md-11 col-xs-11 text-muted">
            <p>+91-44-24500792</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-xs-1">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <div class="col-md-11 col-xs-11 text-muted">
            <p>hodcsestaffaffairs@stjosephs.ac.in</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h4 class="justify">We are open</h4>

        <div class="margs3 text-muted">
          <p>Mon-Sat: 8:00 AM - 3:00 PM
            <br>(Please check if the faculty member you wish to meet is present if you are visiting us on a Saturday)</p>
        </div>
      </div>
    </div>
  </div>
  <section id="footer-section" class="text-center">
    <h4>&copy; 2019 All rights reserved by St. Joseph's College of Engineering</h4>
    <h6 class="text-muted">Maintained by Vigneshwaran R</h6>
  </section>
</footer>
