<header id="about-back">
  <div class="container">
    <div class="jumbotron">
      <h1>Vison &amp; Mission</h1>
    </div>
  </div>
</header>
<section>
  <article id="vision-mission" class="container">
    <h1>Vision</h1>
    <p>The Department of Computer Science and Engineering believes in providing quality education to students who will excel in design and development of hardware and software integrated devices through continuous learning and research activities,
ethically meeting the social needs.</p>
<h1>Mission</h1>
<p>
<b>Excellence:</b> Achieve academic excellence through innovative teaching and continuous improvement thereby promoting
research and development in the field of Computer Science and Engineering.<br><br>
<b>Adaptability:</b> Inculcate team work, ethical practices and build necessary skill set in students through career development
training programmes to help them adapt to the ever changing market demands.<br><br>
<b>Service:</b> Enrich students with moral values, discipline and high integrity to serve the society and work towards its betterment.
</p>
  </article>
</section>
