<header id="about-back">
  <div class="container">
    <div class="jumbotron">
      <h1>PEO &amp; PSO</h1>
    </div>
  </div>
</header>
<section>
  <article id="peo-pso" class="container">
    <h1>Program Educational Objectives (PEO)</h1>
    <p>
      <b>Profession:</b> Graduates excel in computer technology in order to pursue higher education and research, or have a successful career in industries or as entrepreneurs.<br><br>
      <b>Technophile:</b> Graduates will have the ability and attitude to adapt emerging
      technological changes in the field of Computer Science and Engineering.<br><br>
      <b>Team Player:</b>  Possess an ability to collaborate as a team member and team leader to affect technical solutions for computing systems, providing improved function
      and outcomes.
    </p>
    <h1>Program Specific Outcomes (PSO)</h1>
    <p>
      <b>Efficacy:</b> Ability to apply mathematical methodologies and foundational concepts of Computer Science and
Engineering to solve computational tasks, model the real world problem using appropriate data structure and algorithm
with suitable programming languages.<br><br>
<b>Potentiality to design:</b> Analyze, design and evaluate a computer based system by applying software engineering
principles and practices for developing quality software for scientific and business applications.<br><br>
<b>Technical Expertise:</b> Adapt to modern engineering technologies and thereby build robust, reliable, maintainable,
scalable, innovative and efficient computing systems by considering social, environmental, economic, and security
constraints.
<br><br></p>
  </article>
</section>
