<header id="lab-back">
  <div class="container">
    <div class="jumbotron">
      <h1>Laboratory</h1>
    </div>
  </div>
</header>
<section>
  <article id="labDetails">
    <div class="container">
      <h3 class="padding-20"><b>COMPUTER SCIENCE LAB 1</b></h3>
      <h4><b>ICL – Interactive Computing Lab</b></h4>
      <table class="table table-striped table-bordered">
        <tr>
          <th>
            <h4><b>Computer with Configuration</b></h4></th>
          <th>
            <h4><b>Quantity</b></h4></th>
        </tr>
        <tr>
          <td><b>SERVER</b><br>IBM SERVER-IBM x3620 M3 Intel Xeon EE5606 4Core (2.13 Ghz,4MB 800Mhz)Processor 4GB RAM,300 GB HDD)</td>
          <td>01</td>
        </tr>
        <tr>
          <td><b>NODES</b><br>HP PRODESK-400 Intel Core i5-8GB Ram 500GB HDD</td>
          <td>50</td>
        </tr>
        <tr>
          <td><b>15 KVA UPS</b></td>
          <td>01</td>
        </tr>
      </table>
      <h4><b>ADL- Application Development Lab</b></h4>
      <table class="table table-striped table-bordered">
        <tr>
          <th>
            <h4><b>Computer with Configuration</b></h4></th>
          <th>
            <h4><b>Quantity</b></h4></th>
        </tr>
        <tr>
          <td><b>SERVER</b><br>IBM SERVER-IBM x3620 M3 Intel Xeon EE5606 4Core (2.13 Ghz,4MB 800Mhz)Processor 4GB RAM,300 GB HDD)</td>
          <td>01</td>
        </tr>
        <tr>
          <td><b>NODES</b><br>HP PRODESK-400 Intel Core i5-8GB Ram 500GB HDD</td>
          <td>50</td>
        </tr>
        <tr>
          <td><b>15 KVA UPS</b></td>
          <td>01</td>
        </tr>
      </table>
      <h3 class="padding-20"><b>COMPUTER SCIENCE LAB 2</b></h3>
      <h4><b>PACE LAB- Programming Algorithms Compiler Education Lab (PACE)</b></h4>
      <table class="table table-striped table-bordered">
        <tr>
          <th>
            <h4><b>Computer with Configuration</b></h4></th>
          <th>
            <h4><b>Quantity</b></h4></th>
        </tr>
        <tr>
          <td>
            <b>SERVER</b><br> IBM SERVER-Two Socket Rack server 7979IA7:X3650 Intel Xeon E5450 (Quad Core) 3.00Ghz,2*6m L2cache 133 Mhz/4GB via 12DIMM Slots/300GB 15k SAS3.5 Hot Swap HDD
          </td>
          <td>01</td>
        </tr>
        <tr>
          <td><b>NODES</b><br>HP PRO 3330 MTPC Intel Core i3-2120 Processor (3M cache,3.30Ghz)4GB Ram,500GB HDD
          </td>
          <td>51</td>
        </tr>
        <tr>
          <td><b>15 KVA UPS</b></td>
          <td>01</td>
        </tr>
      </table>
      <h4><b>DISL-Database and Information System Lab </b></h4>
      <table class="table table-striped table-bordered">
        <tr>
          <th>
            <h4><b>Computer with Configuration</b></h4></th>
          <th>
            <h4><b>Quantity</b></h4></th>
        </tr>
        <tr>
          <td><b>SERVER</b><br>IBM SERVER-Two Socket Rack server 7979IA7:X3650 Intel Xeon E5450 (Quad Core) 3.00Ghz,2*6m L2cache 133 Mhz/4GB via 12DIMM Slots/300GB 15k SAS3.5 Hot Swap HDD</td>
          <td>01</td>
        </tr>
        <tr>
          <td><b>NODES</b><br>HP PRODESK-400 Intel Core i5-8GB Ram 500GB HDD</td>
          <td>50</td>
        </tr>
        <tr>
          <td><b>15 KVA UPS</b></td>
          <td>01</td>
        </tr>
      </table>
      <h3 class="padding-20"><b>PG LAB</b></h3>
      <table class="table table-striped table-bordered">
        <tr>
          <th>
            <h4><b>Computer with Configuration</b></h4></th>
          <th>
            <h4><b>Quantity</b></h4></th>
        </tr>
        <tr>
          <td><b>NODES</b><br>HP PRODESK-400 Intel Core i5-8GB Ram 500GB HDD
          </td>
          <td>18</td>
        </tr>
        <tr>
          <td><b>5 KVA UPS</b></td>
          <td>01</td>
        </tr>
      </table>
      <h3 class="padding-20"><b>PROJECT & RESEARCH LAB (R&amp;D)
</b></h3>
      <table class="table table-striped table-bordered">
        <tr>
          <th>
            <h4><b>Computer with Configuration</b></h4></th>
          <th>
            <h4><b>Quantity</b></h4></th>
        </tr>
        <tr>
          <td><b>NODES</b><br>HP ProDesk -400 Intel Core i5-8GB RAM- 500GB HDD,HP USB Keyboard & Mouse
          </td>
          <td>5</td>
        </tr>
        <tr>
          <td><b>5 KVA UPS</b></td>
          <td>01</td>
        </tr>
      </table>
    </div>
  </article>
</section>
