<header id="about-back">
  <div class="container">
    <div class="jumbotron">
      <h1>Syllabus &amp; Regulations</h1>
    </div>
  </div>
</header>
<section>
  <article id="syllabus" class="container">
      <h2>Undergraduate Courses</h2>
      <ul>
        <li><a href="./assets/syllabus/R2017.pdf" target="_blank">R 2017</a></li>
        <li><a href="./assets/syllabus/BE-2.pdf" target="_blank">R 2013</a></li>
        <li><a href="./assets/syllabus/Curriculum.pdf" target="_blank">Curriculum</a></li>
      </ul>
      <h2>Postgraduate Courses</h2>
      <ul>
        <li><a href="./assets/syllabus/ME-2.pdf" target="_blank">R 2017</a></li>
        <li><a href="./assets/syllabus/ME-1.pdf" target="_blank">R 2013</a></li>
      </ul>
  </article>
</section>
