<header id="about-back">
  <div class="container">
    <div class="jumbotron">
      <h1>Supervisors</h1>
    </div>
  </div>
</header>
<section>
  <article id="supervisors" class="container">
    <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <tr>
        <th>S. No</th>
        <th>Supervisor Name</th>
        <th>Reference Number</th>
        <th>Research Area</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>Dr. B. PARVATHA VARTHINI</td>
        <td>1240223</td>
        <td>Computer Network</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Dr. A. CHANDRA SEKAR</td>
        <td>2940058</td>
        <td>Network Security</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Dr. G. MARIAKALAVATHY</td>
        <td>2340184</td>
        <td>Web Services, Service Oriented Architecture, Distributed Computing</td>

      </tr>
      <tr>
        <td>4.</td>
        <td>Dr. B. DIWAN</td>
        <td>2940108</td>
        <td>Mobile Computing, Distributed Database</td>
      </tr>
    </table>
  </div>
  </article>
</section>
