<header id="about-back">
  <div class="container">
    <div class="jumbotron">
      <h1>Patents</h1>
    </div>
  </div>
</header>
<section>
  <article id="patents" class="container">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tr>
          <th>S. No</th>
          <th>Academic Year</th>
          <th>CBR Number</th>
          <th>Application Number</th>
          <th>Name of Faculty</th>
          <th>Title</th>
          <th>Status</th>
        </tr>
        <tr>
          <td rowspan="2">1.</td>
          <td rowspan="4">2014-15</td>
          <td rowspan="2">14960</td>
          <td rowspan="2">3978/CHE/2014</td>
          <td class="upr">Dr.G.Murugesan</td>
          <td rowspan="2">SPECTRASOFT</td>
          <td rowspan="2">Applied</td>
        </tr>
        <tr>
          <td class="upr">Mr.G.S.Uthaya Kumar</td>
        </tr>
        <tr>
          <td rowspan="2">2.</td>
          <td rowspan="2">17721</td>
          <td rowspan="2">4696/CHE/2014</td>
          <td class="upr">Dr.G.Murugesan</td>
          <td rowspan="2">THIRD EYE</td>
          <td rowspan="2">Applied</td>
        </tr>
        <tr>
          <td class="upr">Mr.A.Prabhu Chakkaravarthy</td>
        </tr>
        <tr>
          <td rowspan="5">3.</td>
          <td rowspan="5">2016-17</td>
          <td rowspan="5">29117</td>
          <td rowspan="5">201641037258</td>
          <td class="upr">Dr.A.Chandrasekar</td>
          <td rowspan="5">AUTOMATIC DETECTION OF HUMAN HEALTH AND
TRANSFERRING HEALTH INFORMATION</td>
          <td rowspan="5">Applied</td>
        </tr>
        <tr>
          <td class="upr">Mr.A.Prabhu Chakkaravarthy</td>
        </tr>
        <tr>
          <td class="upr">M.Iswarya</td>
        </tr>
        <tr>
          <td class="upr">J.Nirmala</td>
        </tr>
        <tr>
          <td class="upr">M. Leena Christy</td>
        </tr>
        <tr>
          <td rowspan="4">4.</td>
          <td rowspan="4">2016-17</td>
          <td rowspan="4">29117</td>
          <td rowspan="4">201641037256</td>
          <td class="upr">Dr.A.Chandrasekar</td>
          <td rowspan="4">
AUTOMATIC WATER SUPPLY FOR AGRICULTURE ON ANALYZING SOIL MOISTURE
</td>
          <td rowspan="4">Applied</td>
        </tr>
        <tr>
          <td class="upr">Mr.A.Prabhu Chakkaravarthy</td>
        </tr>
        <tr>
          <td class="upr">Rosario Gilmary</td>
        </tr>
        <tr>
          <td class="upr">Shirley Angel Praveena</td>
        </tr>
        <tr>
          <td rowspan="4">5.</td>
          <td rowspan="4">2016-17</td>
          <td rowspan="4">29117</td>
          <td rowspan="4">201641037257</td>
          <td class="upr">Dr.A.Chandrasekar</td>
          <td rowspan="4">  AUTOMATIC WATER MEASUREMENT USING ARDUINO AND ANDROID
</td>
          <td rowspan="4">Applied</td>
        </tr>
        <tr>
          <td class="upr">Mr.A.Prabhu Chakkaravarthy</td>
        </tr>
        <tr>
          <td class="upr">J.Jancy Claret</td>
        </tr>
        <tr>
          <td class="upr">D.Nandhalakshmi</td>
        </tr>
        <tr>
          <td rowspan="4">6.</td>
          <td rowspan="4">2016-17</td>
          <td rowspan="4">29117</td>
          <td rowspan="4">201641037259</td>
          <td class="upr">Dr.A.Chandrasekar</td>
          <td rowspan="4">AUTOMATIC DETECT OF GASES IN DRAINAGE USING ARDUINO AND ITS DEVICES
</td>
          <td rowspan="4">Applied</td>
        </tr>
        <tr>
          <td class="upr">Mr.A.Prabhu Chakkaravarthy</td>
        </tr>
        <tr>
          <td class="upr">Sowmiya S</td>
        </tr>
        <tr>
          <td class="upr">I.Monica Tresa</td>
        </tr>
        <tr>
          <td rowspan="5">7.</td>
          <td rowspan="5">2017-18</td>
          <td rowspan="5">78195</td>
          <td rowspan="5">201741045093</td>
          <td class="upr">Dr.S.Jothi</td>
          <td rowspan="5">SEGMENTATION, DETECTION AND CLASSIFICATION
            OF PSORIASIS SKIN INFECTION USING IMAGE
            PROCESSING</td>
          <td rowspan="5">Applied</td>
        </tr>
        <tr>
          <td class="upr">Mr.A.Chandrasekar</td>
        </tr>
        <tr>
          <td class="upr">M.Leena Christy</td>
        </tr>
      </table>
    </div>
  </article>
</section>
