
<header id="about-back">
  <div class="container">
    <div class="jumbotron">
      <h1>COURSE OUTCOMES</h1>
    </div>
  </div>
</header>
<section>
  <article id="syllabus" class="container">
      <h2>Undergraduate Courses</h2>
      <ul>
        <li><a href="./assets/co/CO_2017_UG.pdf" target="_blank">COURSE OUTCOMES 2017</a></li>
        <li><a href="./assets/co/CO_2013_UG.pdf" target="_blank">COURSE OUTCOMES 2013</a></li>
      </ul>
      <h2>Postgraduate Courses</h2>
      <ul>
        <li><a href="./assets/co/CO_2017_PG.pdf" target="_blank">COURSE OUTCOMES 2017</a></li>
        <li><a href="./assets/co/CO_2013_PG.pdf" target="_blank">COURSE OUTCOMES 2013</a></li>
      </ul>
  </article>
</section>
