
<header>
          
          <div class="jumbotron container">
            
           
            <div class="row">
                <div class="col-md-8">
                    <h1 class=" animated zoomIn" id="title">Providing the best in Computer Education since 1995</h1>
              <button class="btn btn-danger animated zoomIn" id="button1" scrollTo="target" routerLink="/contact-us">Contact Us</button>

                </div>  
            </div>
            
          </div>


</header>
<section >
<article id="fives">
   
        <h1 class="text-center justify">We are a part of St. Joseph's College of Engineering</h1>
        <h4 class="text-center">We provide the best computer science &amp; engineering education in town.</h4>

        <div class="row " id="firstSec">
          <div class="col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-12 pads">
            <img class="img-responsive fix" src="./assets/vision.png">
            <h4 class="text-center justify">Our Vision</h4>
            <p class="text-center">What we always have in mind!</p>
          </div>
          <div class="col-md-2 col-xs-12 col-sm-3 pads">
            <img class="img-responsive fix" src="./assets/mission.png">
            <h4 class="text-center justify">Our Mission</h4>
            <p class="text-center">What we strive to achieve!</p>
          </div>
          <div class="col-md-2 col-xs-12 col-sm-3 pads">
            <img class="img-responsive fix" src="./assets/objectives.png">
            <h4 class="text-center justify">Program Educational Objectives (PEOs)</h4>
            <p class="text-center">Our education strategy!</p>
          </div>
          <div class="col-md-2 col-xs-12 col-sm-3 col-sm-offset-1 col-md-offset-0 pads">
            <img class="img-responsive fix" src="./assets/program-outcomes.png">
            <h4 class="text-center justify">Program Outcomes (POs)</h4>
            <p class="text-center">What you will learn!</p>
          </div>
          <div class="col-md-2 col-xs-12 col-sm-3 pads">
            <img class="img-responsive fix" src="./assets/program-specific.png">
            <h4 class="text-center justify">Program Specific Outcomes (PSOs)</h4>
            <p class="text-center">What you will be capable of doing!</p>
          </div>

        </div>
</article>
<article id="exp">
<h1 class="text-center">More than 2 decades of Excellence</h1>
<div class="row margs">
<div class="col-md-4 col-sm-4 pads">
  <img class="img-responsive fix" src="./assets/mt.png">
  <h1 class="text-center">100%</h1>
  <h4 class="text-center">Placements</h4>
</div>
<div class="col-md-4 col-sm-4 pads">
  <img class="img-responsive fix" src="./assets/mt2.png">
  <h1 class="text-center">1:20</h1>
<h4 class="text-center">Teacher to Student Ratio</h4>
</div>
<div class="col-md-4 col-sm-4 pads">
  <img class="img-responsive fix" src="./assets/mt3.png">
  <h1 class="text-center">250</h1>
  <h4 class="text-center">High performance workstations</h4>
</div>
</div>
</article>
<article id="lead">
<h1 class="text-center justify">Our Lead Faculties</h1>
<div class="row margs text-center">
  <div class="container">
  <div class="col-md-4 col-sm-4 pads">
    <img class="img-responsive img-circle fix" src="./assets/01.jpg">
    <h4 class="justify">Dr A Chandra Sekar</h4>
    <p class="text-muted">Professor and Head</p>
  </div>
  <div class="col-md-4 col-sm-4  pads">
    <img class="img-responsive img-circle fix" src="./assets/03.jpg">
    <h4  class="justify">Dr G Mariakalavathy</h4>
    <p class="text-muted">Professor</p>
  </div>
  <div class="col-md-4 col-sm-4  pads">
    <img class="img-responsive img-circle fix" src="./assets/06.jpg">
    <h4  class="justify">Dr R Pugalenthi</h4>
    <p class="text-muted">Associate Professor</p>
  </div>
</div>
</div>
</article>
<article id="extras">
<div class="container">
  <h1 class="text-center justify">Extras</h1>
  <div class="row margs">
    <div class="col-md-6 pad-btm">
      <div id="vac">
      <h2 class="text-left pads">Value Added Courses</h2>
      <h4 class="text-left">Enlighten your knowledge with the most sought after skills of the day in our unique courses.</h4>
      <a href="./assets/vsc.pdf" target="_blank"><button class="learnMore margs2"> Learn More </button></a>
    </div>
  </div>
    <div class="col-md-6 pad-btm">
      <div id="pts">
      <h2 class="text-left pads">Project Expo</h2>
      <h4 class="text-left">Become the most employable engineers in town wth our customized project training</h4>
      <a href="./assets/pe.pdf" target="_blank"><button class="learnMore margs2"> Learn More </button></a>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6 pad-btm">
      <div id="sp">
      <h2 class="text-left pads">Social Programs</h2>
      <h4 class="text-left">Visit NGOs every semester to keep yourself socially connected with those not so privileged.</h4>
      <button class="learnMore margs2"><a href="./assets/ngo.pdf" style="text-decoration: none; color: #fff;">Learn More</a></button>
    </div>
  </div>
    <div class="col-md-6 pad-btm">
      <div id="es">
      <h2 class="text-left pads">Excel in Sports</h2>
      <h4 class="text-left">Join the college team in 10+ sports and using these facilities to excel outdoors too.</h4>
      <a href="./assets/sports.pdf" target="_blank"><button class="learnMore margs2"> Learn More </button></a>
    </div>
  </div>
  </div>
</div>
</article>
<article id="others">
  <div class="container text-center">
  <h1 class="text-left">Other Services</h1>
  <div class="row margs">
    <div class="col-md-4 col-sm-4">
      <div class="row pads">
        <div class="col-md-4">
      <img src="./assets/other1.png" class="img-responsive fix">
    </div>
    <div class="col-md-8">
      <h3>After-College Coaching</h3>
      <h5>Finding studies tough? We can help you out on the same.</h5>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="row pads">
        <div class="col-md-4">
      <img src="./assets/other2.png" class="img-responsive fix">
    </div>
    <div class="col-md-8">
      <h3>24x7 Internet Access at Hostel</h3>
      <h5>Staying away from home? Stay connected to the world!</h5>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="row">
        <div class="col-md-4">
      <img src="./assets/other3.png" class="img-responsive fix">
    </div>
    <div class="col-md-8">
      <h3>Get Certified in skill sets of your choice</h3>
      <h5>Love a particular skill set? We will help you get certified in it!</h5>
    </div>
    </div>
    </div>
</div>
<div class="row margs">
  <div class="col-md-4 col-sm-4">
    <div class="row pads">
      <div class="col-md-4">
    <img src="./assets/other4.png" class="img-responsive fix">
  </div>
  <div class="col-md-8">
    <h3>Special Benefits for Toppers</h3>
    <h5>Think you can ace the exams? Get scholarships if you succeed.</h5>
  </div>
  </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="row pads">
      <div class="col-md-4">
    <img src="./assets/other5.png" class="img-responsive fix">
  </div>
  <div class="col-md-8">
    <h3>Multi-cuisine Dining</h3>
    <h5>Experience Continental, South Indian, North Indian, Chinese cuisines complete with starters and desserts.</h5>
  </div>
  </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="row">
      <div class="col-md-4">
    <img src="./assets/other6.png" class="img-responsive fix">
  </div>
  <div class="col-md-8">
    <h3>Club Activities</h3>
    <h5>Meet those with similar interests as yours; get together and do something wonderful</h5>
  </div>
  </div>
  </div>
</div>
  </div>
</article>
</section>
