<header id="about-back">
  <div class="container">
    <div class="jumbotron">
      <h1>Publications</h1>
    </div>
  </div>
</header>
<section>
  <article id="publications">
    <div class="container">
      <div class="table-responsive">
      <table class="table table-bordered table-striped auto">
        <tr>
          <th>S.No</th>
          <th>Faculty Name</th>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="./assets/publications/00.pdf" target="_blank">Dr. B. PARVATHA VARTHINI</a></td>
        </tr>
        <tr>
          <td>2.</td>
          <td><a href="./assets/publications/01.pdf" target="_blank">Dr. A. CHANDRASEKAR</a></td>
        </tr>
        <tr>
          <td>3.</td>
          <td><a href="./assets/publications/03.pdf" target="_blank">Dr. G. MARIAKALAVATHY</a></td>
        </tr>
        <tr>
          <td>4.</td>
          <td><a href="./assets/publications/04.pdf" target="_blank">Dr. G. MURUGESAN</a></td>
        </tr>
        <tr>
          <td>5.</td>
          <td><a href="./assets/publications/05.pdf" target="_blank">	Dr. D. ROSY SALOMI VICTORIA</a></td>
        </tr>
        <tr>
          <td>6.</td>
          <td><a href="./assets/publications/06.pdf" target="_blank"> Dr. R. PUGALENTHI</a></td>
        </tr>
        <tr>
          <td>7.</td>
          <td><a href="./assets/publications/07.pdf" target="_blank">Dr. S. JOTHI</a></td>
        </tr>
        <tr>
          <td>8.</td>
          <td><a href="./assets/publications/08.pdf" target="_blank">Dr. J.T. ANITA ROSE</a></td>
        </tr>
        <tr>
          <td>9.</td>
          <td><a href="./assets/publications/09.pdf" target="_blank">Dr. F. SANGEETHA FRANCELIN VINNARASI</a></td>
        </tr>
        <tr>
          <td>10.</td>
          <td><a href="./assets/publications/10.pdf" target="_blank">Dr. R. HEMALATHA</a></td>
        </tr>
        <tr>
          <td>11.</td>
          <td><a href="./assets/publications/11.pdf" target="_blank">Dr. B. DIWAN</a></td>
        </tr>
        <tr>
          <td>12.</td>
          <td><a href="./assets/publications/12.pdf" target="_blank">	Ms. K. VIJAYALAKSHMI</a></td>
        </tr>
        <tr>
          <td>13.</td>
          <td><a href="./assets/publications/13.pdf" target="_blank">Dr. JESLINE</a></td>
        </tr>
        <tr>
          <td>14.</td>
          <td><a href="./assets/publications/14.pdf" target="_blank">	Dr. A. SHERYL OLIVER</a></td>
        </tr>
        <tr>
          <td>15.</td>
          <td><a href="./assets/publications/15.pdf" target="_blank">Dr. M. ANURADHA</a></td>
        </tr>
        <tr>
          <td>16.</td>
          <td><a href="./assets/publications/16.pdf" target="_blank">Dr. J. JEAN JUSTUS</a></td>
        </tr>
        <tr>
          <td>17.</td>
          <td><a href="./assets/publications/17.pdf" target="_blank">Dr. M. P RAJAKUMAR</a></td>
        </tr>
        <tr>
          <td>18.</td>
          <td><a href="./assets/publications/18.pdf" target="_blank">Dr. V. ANJANA DEVI</a></td>
        </tr>
        <tr>
          <td>19.</td>
          <td><a href="./assets/publications/19.pdf" target="_blank">Dr. J. RAMYA</a></td>
        </tr>
        <tr>
          <td>20.</td>
          <td><a href="./assets/publications/20.pdf" target="_blank">Dr. N. ANGEL</a></td>
        </tr>
        <tr>
          <td>21.</td>
          <td><a href="./assets/publications/21.pdf" target="_blank">Ms. D. MANOHARI</a></td>
        </tr>
        <tr>
          <td>22.</td>
          <td><a href="./assets/publications/22.pdf" target="_blank">Ms. M. SHALINI</a></td>
        </tr>
        <tr>
          <td>23.</td>
          <td><a href="./assets/publications/23.pdf" target="_blank">Ms. A. AJOE SWEETLIN JEENA</a></td>
        </tr>
        <tr>
          <td>24.</td>
          <td><a href="./assets/publications/24.pdf" target="_blank">Ms.P.N. JEIPRATHA</a></td>
        </tr>
        <tr>
          <td>25.</td>
          <td><a href="./assets/publications/25.pdf" target="_blank">Mr. K. BALAJI</a></td>
        </tr>
        <tr>
          <td>26.</td>
          <td><a href="./assets/publications/26.pdf" target="_blank">Ms.J.M. KAVITHA</a></td>
        </tr>
        <tr>
          <td>27.</td>
          <td><a href="./assets/publications/27.pdf" target="_blank">Mr.N. MANIKANDAN</a></td>
        </tr>
        <tr>
          <td>28.</td>
          <td><a href="./assets/publications/28.pdf" target="_blank">	Mr.A. PRABHU CHAKKARAVARTHY</a></td>
        </tr>
        <tr>
          <td>29.</td>
          <td><a href="./assets/publications/29.pdf" target="_blank">Mr.P. VARUN</a></td>
        </tr>
        <tr>
          <td>30.</td>
          <td><a href="./assets/publications/30.pdf" target="_blank">Ms.S. SHANTHINI</a></td>
        </tr>
        <tr>
          <td>31.</td>
          <td><a href="./assets/publications/31.pdf" target="_blank">Mr. P. NAVEEN</a></td>
        </tr>
        <tr>
          <td>32.</td>
          <td><a href="./assets/publications/32.pdf" target="_blank">Ms.G. SARANYA</a></td>
        </tr>
        <tr>
          <td>33.</td>
          <td><a href="./assets/publications/33.pdf" target="_blank">Mr.R. RANJITH</a></td>
        </tr>
        <tr>
          <td>34.</td>
          <td><a href="./assets/publications/34.pdf" target="_blank">Mr.S. VINU</a></td>
        </tr>
        <tr>
          <td>35.</td>
          <td><a href="./assets/publications/35.pdf" target="_blank">Ms.K. SUDHA</a></td>
        </tr>
        <tr>
          <td>36.</td>
          <td><a href="./assets/publications/36.pdf" target="_blank">Dr.K. PARKAVI</a></td>
        </tr>
        <tr>
          <td>37.</td>
          <td><a href="./assets/publications/37.pdf" target="_blank">Mr.K. RAJAGANESH</a></td>
        </tr>
        <tr>
          <td>38.</td>
          <td><a href="./assets/publications/38.pdf" target="_blank">Ms. JANANI</a></td>
        </tr>
        <tr>
          <td>39.</td>
          <td><a href="./assets/publications/39.pdf" target="_blank">Ms. JENIF D SOUZA W S</a></td>
        </tr>


      </table>
    </div>
    </div>
  </article>
</section>
